<!DOCTYPE html>
<html lang="en">
<head>
  <%= page_meta %>
  <%= javascript_include_tag 'https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js' %>

  <%= stylesheet_link_tag 'coupons' %>
  <%= stylesheet_link_tag 'https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css' %>
</head>
<body>
  <%= render 'layouts/menu_user'  %>
  <div class="page container">
    <%= render 'header' %>

    <div class="content">
      <%= render 'flash_messages' %>
      <%= yield %>
    </div>
  </div>

  <%= javascript_include_tag 'coupons' %>
</body>
</html>
